/*
COLORS:
  Light green: #7ed56f;
  Medium green: #55c57a;
  Dark green: #28b485;

  font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7vh;
  color: #777;
  padding: 30px;
}
.header{
  height: 95vh;
  
}
